{% extends 'layout.html.twig' %}


{% block header %}
<header>

{# src image bienvenue #}
<h1>Bienvenue</h1>
</header>
{% endblock %}


{% block content %}
    
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    {# <p>Find a complete CRUD example on <a href="/items">/items</a> page.</p> #}

<section class="post">
{# image 1 post 1
image 2 post 1
image 3 post 1
image 4 post 1 #}
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
<button>Modifier l'article</button>
</section>

<section class="post">
{# image 1 post 2
image 2 post 2 #}
<p>Lorem ipsum dolor sit amet.</p>
<button>Modifier l'article</button>
</section>

<section class="post">
{# image 1 post 3 #}
<p>-</p>
<button>Modifier l'article</button>
</section>

</section>



{% endblock %}
