{% extends 'layout.html.twig' %}


{% block header %}
	<header>
		{# src image bienvenue #}
		<img src="assets/images/Illustration_sans_titre[3675].png" alt="entete marbré">
		<h1>Bienvenue</h1>
	</header>
{% endblock %}


{% block content %}

	<section class="descri">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		{# <button>Modifier la description</button> #}
	</section>

	<section class="add">
		<button>
			<a href='/gallery'>Galerie</a>
		</button>
	</section>

	<section
		class="post">
		<div><img src="assets/images/IMG_0671[3691].jpg" alt="Message au miroir" class="article-1">
		<img src="assets/images/IMG_0670[3689].jpg" alt="Lady Jane" class="article-1">
		<img src="assets/images/IMG_0669[3687].jpg" alt="Le rubis" class="article-1"><br></div>
		<p>Ruby Red</p>
		{# <button>Modifier l'article</button> #}
	</section>

	<section
		class="post">
		<div><img src="assets/images/Illustration_sans_titre[3667].jpg" alt="Giallo"><br></div>
		<p>Giallo - Affiche de film</p>
		{# <button>Modifier l'article</button> #}
	</section>

	<section
		class="post">
		<div><img src="assets/images/IMG_0668[3685].jpg" alt="I IA"><br></div>
		<p>I IA</p>
		{# <button>Modifier l'article</button> #}
	</section>

	<section class="post">
		<h3>Add a new image</h3>
		{% include '_Image/component/_form.html.twig' %}
	</section>
	

{% endblock %}
