{# TODO : manage errors display #}

{# Kept this file just for inspirationnal purpose.
Actual _form is stored inside the component directory. #}

{# TODO Don't know why but my Ctrl+S in VS Code auto-indent this form in this really nasty way #}

	<form method="post" action=""> <input type="hidden" value="{{ item.id }}" name="id">
	<label for="title">Title</label>
	<input type="text" value="{{ item.title }}" name="title" id="title">
	<button>Submit</button>
</form>
