{% extends 'layout.html.twig' %}

{% block content %}
	<section class='post'>
		<h1>Mauvaise ID</h1>

		<p>C'est une mauvaise idée que de se promener par ici.
			<a href='/'>Veuillez retourner sur la page principale, c'est bien plus sûr...</a>
		</p>
	{% endblock %}
