{% extends 'layout.html.twig' %}

{% block bodyClass %}class='gallerie'{% endblock %}

{% block content %}
	<section class='post'>
		<h1>Galerie</h1>
		<ul>
			{% for image in images %}
				<li>
					<a href="/images/show?id={{ image.id }}">
						{{ image.id }}
						.
						{{ image.title }}</a>
				</li>
			{% else %}
				<li>Nothing to display, yet.</li>
			{% endfor %}
		</ul>
		<button>
			<a href="/">Retour à l'accueil</a>
		</button>
	</section>	
{% endblock %}
