body {
    color: #45384c;
    font-family: 'Palatino', Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(243, 234, 240));
    background-repeat: repeat;
    height: 100%;
}

header {
    text-align: center;
}

img {
  max-width: 90%;
  border-radius: 3px;
}

.descri {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid rgb(245, 237, 243);
  margin: 2rem;
  border-radius: 100px;
}

.descri p{
  width: 60%;
  text-align: center;
}

.add {
  text-align: center;
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 223, 228);
    padding: 1rem;
    border: 2px solid rgb(169, 151, 151);
    margin: 2rem 9rem;
    border-radius: 3px;
  }

  .post p{
    border-top: 2px solid rgb(178, 155, 171);
    width: 60%;
    text-align: center;
}

  div{
    margin: auto;
    display: flex;
    justify-content: center ;
  }

  div img{
    padding: 1rem;
  }

  button{
    background-color: rgb(248, 243, 247);
    border: 2px solid rgb(226, 218, 224);
    color: #45384c;
    border-radius: 3px;
    margin-top: 1rem;
  }

  .post button, .submit{
    background-color: rgb(219, 209, 217);
    border: 2px solid rgb(163, 146, 146);
    border-radius: 3px;
    color: #45384c;
  }

  a {
    text-decoration: none;
    color: #45384c;
     }

  button:hover, .submit:hover{
    opacity: 0.5;
  }

.newImage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 2px solid rgb(245, 237, 243);
  margin: 2rem;
  border-radius: 100px;
}

#description, #url, #title{
    border-radius: 2px;
    background-color: rgb(248, 246, 247);
    border: 2px solid rgb(195, 179, 179);
    width: 90%;
}

li{
  list-style-type: "☆ ";
}

#navButtons button {
    margin: 0 1rem;
}

#backToImage {
    position: absolute;
    margin: 0 9rem;
}

#deleteButton {
    background-color: rgb(121, 70, 70);
    font-weight: 700;
}

        /* -- RESPONSIVE -- */
  @media screen and (max-width: 900px) {
    .post {
    margin: 1rem;
    }

    body{
    padding: 0%;
    margin: 4px;
    height: 100%;
    }

    #backToImage {
    position: absolute;
    margin: 0.7rem 1.4rem;
    }
  }

    @media screen and (max-width: 500px){
      .post {
        margin: 0%;
        margin-top: 1rem;
        }
      div{
        justify-content: center;
        margin: 4px;
      }
      header img{
        max-width: 100%;
      }
      .article-1 {
        max-width: 50%;
      }
    }

              /* -- AUTOMATIC DARK MODE -- */
     @media (prefers-color-scheme: dark) {
      body {
        background-image: linear-gradient(rgb(31, 31, 31), rgb(13, 13, 13));
        color:rgba(170, 170, 170, 0.792);
        height: 100%;
      }
      .descri{
        border-color: rgb(100, 100, 100);
      }
      .post{
        background-image: linear-gradient( rgb(31, 31, 31),rgb(58, 58, 58));
        border-color: rgb(50, 50, 50);
        color: 2px solid rgb(97, 97, 97);
      }

      #description, #url, #title{
        background-color:rgb(52, 51, 51);
        border-radius: 2px;
        border-color: rgb(91, 91, 91);
        color: rgb(206, 216, 225)
     }

      button, .post button, .submit, a{
        color:rgba(196, 197, 198, 0.749);
        background-color: hsl(0, 0%, 38%);
        border-color: rgb(109, 109, 109);
      }
      .post p{
        border-top: 2px solid rgba(111, 111, 111, 0.642);
      }
    }
